[submodule "mexico"]
	path = mexico
	url = git@git.vauxoo.com:vauxoo/mexico.git
	branch = 13.0
[submodule "vendor-bills"]
	path = vendor-bills
	url = git@git.vauxoo.com:vauxoo/vendor-bills.git
	branch = 13.0

[submodule "humanytek-team/account_move_report"]
	path = humanytek-team/account_move_report
	url = git@github.com:humanytek-team/account_move_report.git
	branch = 13.0

[submodule "humanytek-team/l10n_mx_edi_bank"]
	path = humanytek-team/l10n_mx_edi_bank
	url = git@github.com:humanytek-team/l10n_mx_edi_bank.git
	branch = 13.0

[submodule "humanytek-team/stock_mts_mto_rule"]
	path = humanytek-team/stock_mts_mto_rule
	url = git@github.com:humanytek-team/stock_mts_mto_rule.git
	branch = 13.0
